@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu&display=swap');

:root {
    --primary-color: rgb(61, 159, 240);
    --secondary-color: rgb(255, 255, 255);
    --primary-hover-color: rgb(49, 128, 235);
    --primary-active-color: rgb(49, 128, 235);
    --primary-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr min(80ch, 100%) 1fr;
    background-color: var(--secondary-color);
    font-family: var(--primary-font);
}

h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 900;
    font-family: var(--primary-font);
    letter-spacing: 2px;
    margin: 15px 0 15px 0;
}

body > * {
    grid-column: 2;
}

.headerContiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 44px;
}
.border {
    border: 5px solid var(--primary-color);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.dataBtnContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 7px;
}


.dataBtn {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 7px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 80px;
  }
  
  .dataBtn:hover {
    background-color: var(--primary-hover-color);
  }
  
  .dataBtn:active {
    background-color: var(--primary-active-color);
  }

  .filaContainer, .pilaContainer, .linkedLisContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 44px;
  }

  .colaInfo, .pilaInfo, .linkedListInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height: 44px;
    margin-bottom: 20px;
  }

  .uiFila {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    line-height: 44px;
  }

  .uiPila {
    display: grid;
    padding: 10px;
    gap: 20px;
  }

  .uiPilaContainer {
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .pilaItemContainer {
    padding: 5px;
    border-left: 8px solid var(--primary-color);
    border-right: 8px solid var(--primary-color);
    border-bottom: 8px solid var(--primary-color);
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .pila {
    width: 100%;
    height: 66px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border: 5px solid var(--primary-color);
  }

  .fade-lento {
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  /* Cuando agregues esta clase, pasa a opacity: 0 en 1 s */
  .fade-lento.oculto {
    opacity: 0;
  }

  .uiLinkedList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  .listInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    max-width: 100px;
  }

  .linkedListItemContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    /*  */height: 77px;
    margin: 10px 0 5px 0;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    border: 5px solid var(--primary-color);
    overflow: auto;
  }

  .listItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    min-width: 80px;
  }

  .data, .next {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .data {
    border-right: 3px solid var(--primary-color);
  }

  .listItem::after {
    content: "->";
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }